In [1]:
import pandas as pd
import numpy as np
from numpy.random import seed
seed(1)

In [2]:
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [3]:
df = pd.read_csv('ModelListings.csv')
df.head()

C:\Users\lizma\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (3,6,7,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,accommodates,availability_30,availability_365,bathrooms,bed_type,bedrooms,beds,sc_city,country,...,region,review_scores_accuracy,review_scores_checkin,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,reviews_per_month,guests_included
0,0,2.0,5.0,12,1.5,Real Bed,1,2.0,Amsterdam,Netherlands,...,North Holland,10.0,10.0,10.0,10.0,9.0,97.0,10.0,2.07,1.0
1,1,2.0,0.0,166,1.0,Real Bed,1,1.0,Amsterdam,Netherlands,...,North Holland,9.0,9.0,9.0,9.0,10.0,88.0,9.0,2.39,2.0
2,2,3.0,5.0,116,1.0,Real Bed,1,1.0,Amsterdam,Netherlands,...,North Holland,10.0,10.0,10.0,10.0,10.0,100.0,10.0,0.13,2.0
3,3,2.0,2.0,102,1.0,Real Bed,1,1.0,Amsterdam,Netherlands,...,North Holland,10.0,10.0,10.0,10.0,10.0,99.0,10.0,2.12,1.0
4,4,2.0,3.0,236,1.0,Real Bed,1,2.0,Amsterdam,Netherlands,...,North Holland,10.0,10.0,10.0,10.0,9.0,93.0,9.0,4.15,2.0

In [4]:
list(df)

['Unnamed: 0',
 'accommodates',
 'availability_30',
 'availability_365',
 'bathrooms',
 'bed_type',
 'bedrooms',
 'beds',
 'sc_city',
 'country',
 'extra_people',
 'latitude',
 'longitude',
 'neighbourhood',
 'number_of_reviews',
 'price',
 'property_type',
 'region',
 'review_scores_accuracy',
 'review_scores_checkin',
 'review_scores_cleanliness',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_rating',
 'review_scores_value',
 'reviews_per_month',
 'guests_included']

In [5]:
test_df = df[['accommodates', 'availability_30', 'availability_365', 'bathrooms', 'sc_city', 'country',
                            'neighbourhood', 'number_of_reviews', 'price', 'bedrooms', 'beds', 'latitude', 'longitude',
                            'property_type', 'review_scores_accuracy', 'review_scores_checkin', 
                            'review_scores_cleanliness', 'review_scores_communication', 'review_scores_location', 
                            'review_scores_rating', 'review_scores_value', 'reviews_per_month', 'guests_included']]

In [6]:
test_df = test_df.dropna()

In [7]:
test_df.dtypes

accommodates                   float64
availability_30                float64
availability_365                object
bathrooms                      float64
sc_city                         object
country                         object
neighbourhood                   object
number_of_reviews              float64
price                           object
bedrooms                        object
beds                            object
latitude                       float64
longitude                       object
property_type                   object
review_scores_accuracy         float64
review_scores_checkin          float64
review_scores_cleanliness      float64
review_scores_communication    float64
review_scores_location         float64
review_scores_rating           float64
review_scores_value            float64
reviews_per_month              float64
guests_included                float64
dtype: object

In [8]:
test_df['availability_365'].unique()

array([12.0, 166.0, 116.0, ..., '355', '164', '186'], dtype=object)

In [9]:
# test_df = test_df[test_df['accommodates'] != 'nan']
# test_df = test_df[test_df['availability_30'] != 'nan']
test_df = test_df[test_df['availability_365'] != 'nan']
# test_df = test_df[test_df['bathrooms'] != 'nan']
test_df = test_df[test_df['bedrooms'] != 'nan']
test_df = test_df[test_df['beds'] != 'nan']
# test_df = test_df[test_df['accommodates'] != 'nan']
# test_df = test_df[test_df['accommodates'] != 'nan']
# test_df = test_df[test_df['number_of_reviews'] != 'nan']
test_df = test_df[test_df['price'] != 'nan']
test_df = test_df[test_df['longitude'] != 'nan']
test_df = test_df[test_df['property_type'] != 'nan']
# test_df = test_df[test_df['review_scores_accuracy'] != 'nan']
# test_df = test_df[test_df['review_scores_checkin'] != 'nan']
# test_df = test_df[test_df['review_scores_cleanliness'] != 'nan']
# test_df = test_df[test_df['review_scores_communication'] != 'nan']
# test_df = test_df[test_df['review_scores_location'] != 'nan']
# test_df = test_df[test_df['review_scores_rating'] != 'nan']
# test_df = test_df[test_df['review_scores_value'] != 'nan']
# test_df = test_df[test_df['guests_included'] != 'nan']

In [10]:
test_df['price'] = [x.split('$')[1] for x in test_df['price']]
test_df['price'] = [x.split('.')[0] for x in test_df['price']]
test_df['price'] = [''.join(x.split(',')) for x in test_df['price']]

In [11]:
# test_df['accommodates'] = [float(x) for x in test_df['accommodates']]
# test_df['availability_30'] = [float(x) for x in test_df['availability_30']]
test_df['availability_365'] = [float(x) for x in test_df['availability_365']]
# test_df['bathrooms'] = [float(x) for x in test_df['bathrooms']]
test_df['bedrooms'] = [float(x) for x in test_df['bedrooms']]
test_df['beds'] = [float(x) for x in test_df['beds']]
# test_df['number_of_reviews'] = [float(x) for x in test_df['number_of_reviews']]
test_df['price'] = [float(x) for x in test_df['price']]
test_df['longitude'] = [float(x) for x in test_df['price']]
# test_df['property_type'] = 
# test_df['review_scores_accuracy'] = [float(x) for x in test_df['review_scores_accuracy']]
# test_df['review_scores_checkin'] = [float(x) for x in test_df['review_scores_checkin']]
# test_df['review_scores_cleanliness'] = [float(x) for x in test_df['review_scores_cleanliness']]
# test_df['review_scores_communication'] = [float(x) for x in test_df['review_scores_communication']]
# test_df['review_scores_location'] = [float(x) for x in test_df['review_scores_location']]
# test_df['review_scores_rating'] = [float(x) for x in test_df['review_scores_rating']]
# test_df['review_scores_value'] = [float(x) for x in test_df['review_scores_value']]
# test_df['guests_included'] = [float(x) for x in test_df['guests_included']]

In [12]:
test_df = test_df[test_df['price'] > 1]

In [13]:
model_df = test_df[test_df['number_of_reviews'] >= 10]
len(model_df)

374375

In [14]:
city_gr = model_df.groupby(['sc_city'])

In [15]:
# city_gr.min()['price']

In [16]:
# city_gr.max()['price']

In [17]:
prices_df = pd.DataFrame({'min': city_gr.min()['price'], 'max': city_gr.max()['price']})

In [18]:
prices_df['span'] = prices_df['max'] - prices_df['min']
prices_df['interval'] = prices_df['span']/10
prices_df

                      min       max      span  interval
sc_city
Amsterdam             8.0    5040.0    5032.0     503.2
Athens                9.0     562.0     553.0      55.3
Austin               10.0   10000.0    9990.0     999.0
Barcelona             8.0    5000.0    4992.0     499.2
Beijing              62.0   63344.0   63282.0    6328.2
Berlin                8.0    6000.0    5992.0     599.2
Bordeaux              9.0     890.0     881.0      88.1
Boston               10.0    1960.0    1950.0     195.0
Broward County       23.0    1990.0    1967.0     196.7
Brussels              9.0    3500.0    3491.0     349.1
Buenos Aires        168.0  315452.0  315284.0   31528.4
Cambridge            19.0     877.0     858.0      85.8
Chicago              10.0   10000.0    9990.0     999.0
Copenhagen          112.0   15001.0   14889.0    1488.9
Denver               10.0    9999.0    9989.0     998.9
Dublin               10.0    4690.0    4680.0     468.0
Edinburgh            11.0   12345.0   12334.0    1233.4
Florence              8.0    1100.0    1092.0     109.2
Hawaii               10.0    3000.0    2990.0     299.0
Hong Kong            78.0   11348.0   11270.0    1127.0
Ireland              10.0    4690.0    4680.0     468.0
Istanbul             42.0    7202.0    7160.0     716.0
Lisbon                9.0    1000.0     991.0      99.1
London                8.0    6560.0    6552.0     655.2
Los Angeles          10.0    9999.0    9989.0     998.9
Lyon                  9.0    1242.0    1233.0     123.3
Madrid                9.0    8616.0    8607.0     860.7
Melbourne            13.0    4999.0    4986.0     498.6
Mexico City         172.0  152458.0  152286.0   15228.6
Milan                 9.0    3000.0    2991.0     299.1
Montreal             12.0    3316.0    3304.0     330.4
Munich                8.0    1000.0     992.0      99.2
New Orleans          10.0    5000.0    4990.0     499.0
New York City        10.0    6000.0    5990.0     599.0
Oakland              15.0   10000.0    9985.0     998.5
Oslo                148.0   80002.0   79854.0    7985.4
Paris                 9.0    9379.0    9370.0     937.0
Portland             10.0    8400.0    8390.0     839.0
Prague              208.0  206716.0  206508.0   20650.8
Rio de Janeiro       33.0   15169.0   15136.0    1513.6
Rome                  8.0    4018.0    4010.0     401.0
San Diego            10.0    9999.0    9989.0     998.9
San Francisco        30.0    8000.0    7970.0     797.0
Santa Clara County   10.0    2900.0    2890.0     289.0
Santa Cruz County    10.0    1082.0    1072.0     107.2
Seattle              10.0    5000.0    4990.0     499.0
Sevilla               9.0   10000.0    9991.0     999.1
Singapore            18.0    3000.0    2982.0     298.2
Stockholm           121.0   49999.0   49878.0    4987.8
Sydney               21.0    8000.0    7979.0     797.9
Taipei              284.0   38895.0   38611.0    3861.1
Toronto              13.0    5900.0    5887.0     588.7
Twin Cities MSA      10.0    9999.0    9989.0     998.9
Valencia              9.0    1200.0    1191.0     119.1
Vancouver            15.0   13393.0   13378.0    1337.8
Venice               18.0    1300.0    1282.0     128.2
Vienna                9.0    1100.0    1091.0     109.1
Washington, D.C      10.0    2000.0    1990.0     199.0

In [19]:
price_10 = {}
prices_df.index[0]
for n in range(0, len(prices_df.index)):
    intervals = []
    ints = {}
    for i in range(0, 10):
        ints[round(prices_df['interval'][n] * (i+1), 2)] = i+1
    intervals.append(ints)
    price_10[prices_df.index[n]] = intervals
#     price_10[prices_df.index[0]] = prices_df['interval']
price_10

{'Amsterdam': [{503.2: 1,
   1006.4: 2,
   1509.6: 3,
   2012.8: 4,
   2516.0: 5,
   3019.2: 6,
   3522.4: 7,
   4025.6: 8,
   4528.8: 9,
   5032.0: 10}],
 'Athens': [{55.3: 1,
   110.6: 2,
   165.9: 3,
   221.2: 4,
   276.5: 5,
   331.8: 6,
   387.1: 7,
   442.4: 8,
   497.7: 9,
   553.0: 10}],
 'Austin': [{999.0: 1,
   1998.0: 2,
   2997.0: 3,
   3996.0: 4,
   4995.0: 5,
   5994.0: 6,
   6993.0: 7,
   7992.0: 8,
   8991.0: 9,
   9990.0: 10}],
 'Barcelona': [{499.2: 1,
   998.4: 2,
   1497.6: 3,
   1996.8: 4,
   2496.0: 5,
   2995.2: 6,
   3494.4: 7,
   3993.6: 8,
   4492.8: 9,
   4992.0: 10}],
 'Beijing': [{6328.2: 1,
   12656.4: 2,
   18984.6: 3,
   25312.8: 4,
   31641.0: 5,
   37969.2: 6,
   44297.4: 7,
   50625.6: 8,
   56953.8: 9,
   63282.0: 10}],
 'Berlin': [{599.2: 1,
   1198.4: 2,
   1797.6: 3,
   2396.8: 4,
   2996.0: 5,
   3595.2: 6,
   4194.4: 7,
   4793.6: 8,
   5392.8: 9,
   5992.0: 10}],
 'Bordeaux': [{88.1: 1,
   176.2: 2,
   264.3: 3,
   352.4: 4,
   440.5: 5,
   528.6: 6,
   616.7: 7,
   704.8: 8,
   792.9: 9,
   881.0: 10}],
 'Boston': [{195.0: 1,
   390.0: 2,
   585.0: 3,
   780.0: 4,
   975.0: 5,
   1170.0: 6,
   1365.0: 7,
   1560.0: 8,
   1755.0: 9,
   1950.0: 10}],
 'Broward County': [{196.7: 1,
   393.4: 2,
   590.1: 3,
   786.8: 4,
   983.5: 5,
   1180.2: 6,
   1376.9: 7,
   1573.6: 8,
   1770.3: 9,
   1967.0: 10}],
 'Brussels': [{349.1: 1,
   698.2: 2,
   1047.3: 3,
   1396.4: 4,
   1745.5: 5,
   2094.6: 6,
   2443.7: 7,
   2792.8: 8,
   3141.9: 9,
   3491.0: 10}],
 'Buenos Aires': [{31528.4: 1,
   63056.8: 2,
   94585.2: 3,
   126113.6: 4,
   157642.0: 5,
   189170.4: 6,
   220698.8: 7,
   252227.2: 8,
   283755.6: 9,
   315284.0: 10}],
 'Cambridge': [{85.8: 1,
   171.6: 2,
   257.4: 3,
   343.2: 4,
   429.0: 5,
   514.8: 6,
   600.6: 7,
   686.4: 8,
   772.2: 9,
   858.0: 10}],
 'Chicago': [{999.0: 1,
   1998.0: 2,
   2997.0: 3,
   3996.0: 4,
   4995.0: 5,
   5994.0: 6,
   6993.0: 7,
   7992.0: 8,
   8991.0: 9,
   9990.0: 10}],
 'Copenhagen': [{1488.9: 1,
   2977.8: 2,
   4466.7: 3,
   5955.6: 4,
   7444.5: 5,
   8933.4: 6,
   10422.3: 7,
   11911.2: 8,
   13400.1: 9,
   14889.0: 10}],
 'Denver': [{998.9: 1,
   1997.8: 2,
   2996.7: 3,
   3995.6: 4,
   4994.5: 5,
   5993.4: 6,
   6992.3: 7,
   7991.2: 8,
   8990.1: 9,
   9989.0: 10}],
 'Dublin': [{468.0: 1,
   936.0: 2,
   1404.0: 3,
   1872.0: 4,
   2340.0: 5,
   2808.0: 6,
   3276.0: 7,
   3744.0: 8,
   4212.0: 9,
   4680.0: 10}],
 'Edinburgh': [{1233.4: 1,
   2466.8: 2,
   3700.2: 3,
   4933.6: 4,
   6167.0: 5,
   7400.4: 6,
   8633.8: 7,
   9867.2: 8,
   11100.6: 9,
   12334.0: 10}],
 'Florence': [{109.2: 1,
   218.4: 2,
   327.6: 3,
   436.8: 4,
   546.0: 5,
   655.2: 6,
   764.4: 7,
   873.6: 8,
   982.8: 9,
   1092.0: 10}],
 'Hawaii': [{299.0: 1,
   598.0: 2,
   897.0: 3,
   1196.0: 4,
   1495.0: 5,
   1794.0: 6,
   2093.0: 7,
   2392.0: 8,
   2691.0: 9,
   2990.0: 10}],
 'Hong Kong': [{1127.0: 1,
   2254.0: 2,
   3381.0: 3,
   4508.0: 4,
   5635.0: 5,
   6762.0: 6,
   7889.0: 7,
   9016.0: 8,
   10143.0: 9,
   11270.0: 10}],
 'Ireland': [{468.0: 1,
   936.0: 2,
   1404.0: 3,
   1872.0: 4,
   2340.0: 5,
   2808.0: 6,
   3276.0: 7,
   3744.0: 8,
   4212.0: 9,
   4680.0: 10}],
 'Istanbul': [{716.0: 1,
   1432.0: 2,
   2148.0: 3,
   2864.0: 4,
   3580.0: 5,
   4296.0: 6,
   5012.0: 7,
   5728.0: 8,
   6444.0: 9,
   7160.0: 10}],
 'Lisbon': [{99.1: 1,
   198.2: 2,
   297.3: 3,
   396.4: 4,
   495.5: 5,
   594.6: 6,
   693.7: 7,
   792.8: 8,
   891.9: 9,
   991.0: 10}],
 'London': [{655.2: 1,
   1310.4: 2,
   1965.6: 3,
   2620.8: 4,
   3276.0: 5,
   3931.2: 6,
   4586.4: 7,
   5241.6: 8,
   5896.8: 9,
   6552.0: 10}],
 'Los Angeles': [{998.9: 1,
   1997.8: 2,
   2996.7: 3,
   3995.6: 4,
   4994.5: 5,
   5993.4: 6,
   6992.3: 7,
   7991.2: 8,
   8990.1: 9,
   9989.0: 10}],
 'Lyon': [{123.3: 1,
   246.6: 2,
   369.9: 3,
   493.2: 4,
   616.5: 5,
   739.8: 6,
   863.1: 7,
   986.4: 8,
   1109.7: 9,
   1233.0: 10}],
 'Madrid': [{860.7: 1,
   1721.4: 2,
   2582.1: 3,
   3442.8: 4,
   4303.5: 5,
   5164.2: 6,
   6024.9: 7,
   6885.6: 8,
   7746.3: 9,
   8607.0: 10}],
 'Melbourne': [{498.6: 1,
   997.2: 2,
   1495.8: 3,
   1994.4: 4,
   2493.0: 5,
   2991.6: 6,
   3490.2: 7,
   3988.8: 8,
   4487.4: 9,
   4986.0: 10}],
 'Mexico City': [{15228.6: 1,
   30457.2: 2,
   45685.8: 3,
   60914.4: 4,
   76143.0: 5,
   91371.6: 6,
   106600.2: 7,
   121828.8: 8,
   137057.4: 9,
   152286.0: 10}],
 'Milan': [{299.1: 1,
   598.2: 2,
   897.3: 3,
   1196.4: 4,
   1495.5: 5,
   1794.6: 6,
   2093.7: 7,
   2392.8: 8,
   2691.9: 9,
   2991.0: 10}],
 'Montreal': [{330.4: 1,
   660.8: 2,
   991.2: 3,
   1321.6: 4,
   1652.0: 5,
   1982.4: 6,
   2312.8: 7,
   2643.2: 8,
   2973.6: 9,
   3304.0: 10}],
 'Munich': [{99.2: 1,
   198.4: 2,
   297.6: 3,
   396.8: 4,
   496.0: 5,
   595.2: 6,
   694.4: 7,
   793.6: 8,
   892.8: 9,
   992.0: 10}],
 'New Orleans': [{499.0: 1,
   998.0: 2,
   1497.0: 3,
   1996.0: 4,
   2495.0: 5,
   2994.0: 6,
   3493.0: 7,
   3992.0: 8,
   4491.0: 9,
   4990.0: 10}],
 'New York City': [{599.0: 1,
   1198.0: 2,
   1797.0: 3,
   2396.0: 4,
   2995.0: 5,
   3594.0: 6,
   4193.0: 7,
   4792.0: 8,
   5391.0: 9,
   5990.0: 10}],
 'Oakland': [{998.5: 1,
   1997.0: 2,
   2995.5: 3,
   3994.0: 4,
   4992.5: 5,
   5991.0: 6,
   6989.5: 7,
   7988.0: 8,
   8986.5: 9,
   9985.0: 10}],
 'Oslo': [{7985.4: 1,
   15970.8: 2,
   23956.2: 3,
   31941.6: 4,
   39927.0: 5,
   47912.4: 6,
   55897.8: 7,
   63883.2: 8,
   71868.6: 9,
   79854.0: 10}],
 'Paris': [{937.0: 1,
   1874.0: 2,
   2811.0: 3,
   3748.0: 4,
   4685.0: 5,
   5622.0: 6,
   6559.0: 7,
   7496.0: 8,
   8433.0: 9,
   9370.0: 10}],
 'Portland': [{839.0: 1,
   1678.0: 2,
   2517.0: 3,
   3356.0: 4,
   4195.0: 5,
   5034.0: 6,
   5873.0: 7,
   6712.0: 8,
   7551.0: 9,
   8390.0: 10}],
 'Prague': [{20650.8: 1,
   41301.6: 2,
   61952.4: 3,
   82603.2: 4,
   103254.0: 5,
   123904.8: 6,
   144555.6: 7,
   165206.4: 8,
   185857.2: 9,
   206508.0: 10}],
 'Rio de Janeiro': [{1513.6: 1,
   3027.2: 2,
   4540.8: 3,
   6054.4: 4,
   7568.0: 5,
   9081.6: 6,
   10595.2: 7,
   12108.8: 8,
   13622.4: 9,
   15136.0: 10}],
 'Rome': [{401.0: 1,
   802.0: 2,
   1203.0: 3,
   1604.0: 4,
   2005.0: 5,
   2406.0: 6,
   2807.0: 7,
   3208.0: 8,
   3609.0: 9,
   4010.0: 10}],
 'San Diego': [{998.9: 1,
   1997.8: 2,
   2996.7: 3,
   3995.6: 4,
   4994.5: 5,
   5993.4: 6,
   6992.3: 7,
   7991.2: 8,
   8990.1: 9,
   9989.0: 10}],
 'San Francisco': [{797.0: 1,
   1594.0: 2,
   2391.0: 3,
   3188.0: 4,
   3985.0: 5,
   4782.0: 6,
   5579.0: 7,
   6376.0: 8,
   7173.0: 9,
   7970.0: 10}],
 'Santa Clara County': [{289.0: 1,
   578.0: 2,
   867.0: 3,
   1156.0: 4,
   1445.0: 5,
   1734.0: 6,
   2023.0: 7,
   2312.0: 8,
   2601.0: 9,
   2890.0: 10}],
 'Santa Cruz County': [{107.2: 1,
   214.4: 2,
   321.6: 3,
   428.8: 4,
   536.0: 5,
   643.2: 6,
   750.4: 7,
   857.6: 8,
   964.8: 9,
   1072.0: 10}],
 'Seattle': [{499.0: 1,
   998.0: 2,
   1497.0: 3,
   1996.0: 4,
   2495.0: 5,
   2994.0: 6,
   3493.0: 7,
   3992.0: 8,
   4491.0: 9,
   4990.0: 10}],
 'Sevilla': [{999.1: 1,
   1998.2: 2,
   2997.3: 3,
   3996.4: 4,
   4995.5: 5,
   5994.6: 6,
   6993.7: 7,
   7992.8: 8,
   8991.9: 9,
   9991.0: 10}],
 'Singapore': [{298.2: 1,
   596.4: 2,
   894.6: 3,
   1192.8: 4,
   1491.0: 5,
   1789.2: 6,
   2087.4: 7,
   2385.6: 8,
   2683.8: 9,
   2982.0: 10}],
 'Stockholm': [{4987.8: 1,
   9975.6: 2,
   14963.4: 3,
   19951.2: 4,
   24939.0: 5,
   29926.8: 6,
   34914.6: 7,
   39902.4: 8,
   44890.2: 9,
   49878.0: 10}],
 'Sydney': [{797.9: 1,
   1595.8: 2,
   2393.7: 3,
   3191.6: 4,
   3989.5: 5,
   4787.4: 6,
   5585.3: 7,
   6383.2: 8,
   7181.1: 9,
   7979.0: 10}],
 'Taipei': [{3861.1: 1,
   7722.2: 2,
   11583.3: 3,
   15444.4: 4,
   19305.5: 5,
   23166.6: 6,
   27027.7: 7,
   30888.8: 8,
   34749.9: 9,
   38611.0: 10}],
 'Toronto': [{588.7: 1,
   1177.4: 2,
   1766.1: 3,
   2354.8: 4,
   2943.5: 5,
   3532.2: 6,
   4120.9: 7,
   4709.6: 8,
   5298.3: 9,
   5887.0: 10}],
 'Twin Cities MSA': [{998.9: 1,
   1997.8: 2,
   2996.7: 3,
   3995.6: 4,
   4994.5: 5,
   5993.4: 6,
   6992.3: 7,
   7991.2: 8,
   8990.1: 9,
   9989.0: 10}],
 'Valencia': [{119.1: 1,
   238.2: 2,
   357.3: 3,
   476.4: 4,
   595.5: 5,
   714.6: 6,
   833.7: 7,
   952.8: 8,
   1071.9: 9,
   1191.0: 10}],
 'Vancouver': [{1337.8: 1,
   2675.6: 2,
   4013.4: 3,
   5351.2: 4,
   6689.0: 5,
   8026.8: 6,
   9364.6: 7,
   10702.4: 8,
   12040.2: 9,
   13378.0: 10}],
 'Venice': [{128.2: 1,
   256.4: 2,
   384.6: 3,
   512.8: 4,
   641.0: 5,
   769.2: 6,
   897.4: 7,
   1025.6: 8,
   1153.8: 9,
   1282.0: 10}],
 'Vienna': [{109.1: 1,
   218.2: 2,
   327.3: 3,
   436.4: 4,
   545.5: 5,
   654.6: 6,
   763.7: 7,
   872.8: 8,
   981.9: 9,
   1091.0: 10}],
 'Washington, D.C': [{199.0: 1,
   398.0: 2,
   597.0: 3,
   796.0: 4,
   995.0: 5,
   1194.0: 6,
   1393.0: 7,
   1592.0: 8,
   1791.0: 9,
   1990.0: 10}]}

In [20]:
# prices_df['min'] = [np.log(x) for x in [prices_df['min']]]
# prices_df['max'] = [np.log(x) for x in [prices_df['max']]]
# [np.log(x) for x in [prices_df['min']]]
log_prices_df = pd.DataFrame({'min': np.log(prices_df['min']),'max': np.log(prices_df['max'])})
# log_prices_df = pd.DataFrame({'min': [np.log(x) for x in [prices_df['min']]],'max': [np.log(x) for x in [prices_df['max']]]})
L_span = log_prices_df.max()['max'] - log_prices_df.min()['min']
L_int = L_span/10
bins = ()
for i in range(0, 10):
    bins = bins + (i*L_int,)
# bins
# L_int
# L_span
# log_prices_df
bins = bins + (log_prices_df.max()['max'],)

In [21]:
bins

(0.0,
 1.0582320268248013,
 2.1164640536496027,
 3.174696080474404,
 4.232928107299205,
 5.291160134124007,
 6.349392160948808,
 7.407624187773609,
 8.46585621459841,
 9.524088241423211,
 12.66176180992785)

In [22]:
group_names = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
model_df['log_price'] = [z for z in [np.log(x) for x in [model_df['price']]][0]]
model_df
# [z for z in [np.log(x) for x in [model_df['price']]][0]]

C:\Users\lizma\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,accommodates,availability_30,availability_365,bathrooms,sc_city,country,neighbourhood,number_of_reviews,price,bedrooms,...,review_scores_accuracy,review_scores_checkin,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,reviews_per_month,guests_included,log_price
0,2.0,5.0,12.0,1.5,Amsterdam,Netherlands,Indische Buurt,255.0,59.0,1.0,...,10.0,10.0,10.0,10.0,9.0,97.0,10.0,2.07,1.0,4.077537
1,2.0,0.0,166.0,1.0,Amsterdam,Netherlands,Grachtengordel,267.0,80.0,1.0,...,9.0,9.0,9.0,9.0,10.0,88.0,9.0,2.39,2.0,4.382027
3,2.0,2.0,102.0,1.0,Amsterdam,Netherlands,Westelijke Eilanden,189.0,150.0,1.0,...,10.0,10.0,10.0,10.0,10.0,99.0,10.0,2.12,1.0,5.010635
4,2.0,3.0,236.0,1.0,Amsterdam,Netherlands,Bos en Lommer,453.0,65.0,1.0,...,10.0,10.0,10.0,10.0,9.0,93.0,9.0,4.15,2.0,4.174387
6,1.0,4.0,166.0,1.0,Amsterdam,Netherlands,Amsterdam Centrum,412.0,55.0,1.0,...,10.0,10.0,10.0,10.0,10.0,95.0,10.0,4.16,1.0,4.007333
7,4.0,0.0,0.0,1.0,Amsterdam,Netherlands,Oud-Zuid,32.0,219.0,3.0,...,9.0,10.0,10.0,10.0,9.0,95.0,9.0,0.34,4.0,5.389072
8,2.0,0.0,73.0,1.0,Amsterdam,Netherlands,Jordaan,198.0,145.0,1.0,...,10.0,10.0,10.0,10.0,10.0,99.0,10.0,1.85,2.0,4.976734
9,2.0,0.0,0.0,0.0,Amsterdam,Netherlands,Jordaan,78.0,180.0,1.0,...,10.0,10.0,10.0,10.0,10.0,95.0,9.0,0.76,2.0,5.192957
10,2.0,7.0,128.0,1.0,Amsterdam,Netherlands,Amsterdam Centrum,444.0,159.0,1.0,...,10.0,10.0,10.0,10.0,10.0,98.0,9.0,4.21,1.0,5.068904
11,4.0,30.0,365.0,1.0,Amsterdam,Netherlands,Grachtengordel,683.0,210.0,2.0,...,8.0,10.0,6.0,10.0,10.0,97.0,10.0,6.49,2.0,5.347108
12,2.0,21.0,172.0,1.0,Amsterdam,Netherlands,Oud-Zuid,61.0,100.0,1.0,...,8.0,9.0,7.0,9.0,9.0,80.0,8.0,0.59,4.0,4.605170
13,4.0,0.0,0.0,1.0,Amsterdam,Netherlands,Oost,34.0,200.0,2.0,...,10.0,10.0,9.0,10.0,9.0,95.0,9.0,0.32,2.0,5.298317
15,3.0,0.0,0.0,1.0,Amsterdam,Netherlands,Oud-West,176.0,140.0,2.0,...,10.0,9.0,9.0,10.0,10.0,96.0,9.0,1.67,2.0,4.941642
16,4.0,2.0,243.0,2.0,Amsterdam,Netherlands,Grachtengordel,172.0,350.0,3.0,...,10.0,10.0,10.0,10.0,10.0,97.0,9.0,1.86,4.0,5.857933
17,4.0,1.0,229.0,1.0,Amsterdam,Netherlands,Grachtengordel,322.0,240.0,2.0,...,10.0,10.0,10.0,10.0,10.0,98.0,10.0,3.10,2.0,5.480639
18,2.0,0.0,0.0,1.0,Amsterdam,Netherlands,Frederik Hendrikbuurt,94.0,125.0,1.0,...,10.0,10.0,10.0,10.0,10.0,96.0,9.0,1.18,2.0,4.828314
19,2.0,5.0,201.0,1.0,Amsterdam,Netherlands,Grachtengordel,238.0,115.0,1.0,...,10.0,10.0,10.0,10.0,10.0,97.0,10.0,2.34,1.0,4.744932
20,3.0,0.0,0.0,1.0,Amsterdam,Netherlands,Bos en Lommer,157.0,90.0,1.0,...,9.0,10.0,8.0,9.0,9.0,91.0,9.0,1.59,2.0,4.499810
21,2.0,0.0,0.0,1.0,Amsterdam,Netherlands,De Pijp,342.0,87.0,1.0,...,10.0,10.0,10.0,10.0,9.0,93.0,9.0,3.32,2.0,4.465908
22,2.0,4.0,241.0,1.0,Amsterdam,Netherlands,Spaarndammer en Zeeheldenbuurt,278.0,75.0,1.0,...,10.0,10.0,9.0,10.0,9.0,91.0,9.0,2.83,1.0,4.317488
23,3.0,1.0,3.0,1.0,Amsterdam,Netherlands,Oud-Zuid,256.0,60.0,1.0,...,10.0,9.0,9.0,9.0,9.0,91.0,9.0,2.65,3.0,4.094345
24,2.0,7.0,99.0,1.0,Amsterdam,Netherlands,Amsterdam Centrum,147.0,86.0,1.0,...,10.0,9.0,9.0,10.0,10.0,92.0,9.0,1.47,1.0,4.454347
25,4.0,1.0,4.0,1.0,Amsterdam,Netherlands,Oud-Zuid,28.0,222.0,2.0,...,10.0,10.0,10.0,10.0,10.0,95.0,9.0,0.27,1.0,5.402677
27,3.0,0.0,129.0,1.0,Amsterdam,Netherlands,Grachtengordel,53.0,159.0,1.0,...,10.0,10.0,10.0,10.0,10.0,100.0,10.0,0.52,2.0,5.068904
28,2.0,1.0,44.0,1.0,Amsterdam,Netherlands,Oud-West,152.0,60.0,1.0,...,10.0,10.0,10.0,10.0,9.0,97.0,10.0,1.47,1.0,4.094345
29,4.0,0.0,4.0,1.5,Amsterdam,Netherlands,Oud-Zuid,89.0,149.0,2.0,...,10.0,10.0,10.0,10.0,10.0,97.0,10.0,0.88,2.0,5.003946
31,4.0,2.0,224.0,2.0,Amsterdam,Netherlands,Grachtengordel,93.0,235.0,2.0,...,10.0,10.0,10.0,10.0,10.0,97.0,10.0,1.11,2.0,5.459586
32,2.0,0.0,93.0,1.0,Amsterdam,Netherlands,Indische Buurt,22.0,109.0,1.0,...,10.0,10.0,10.0,10.0,9.0,99.0,9.0,0.22,1.0,4.691348
34,2.0,13.0,51.0,1.5,Amsterdam,Netherlands,Oud-West,92.0,189.0,1.0,...,10.0,10.0,10.0,10.0,10.0,98.0,10.0,1.33,1.0,5.241747
35,4.0,0.0,68.0,2.5,Amsterdam,Netherlands,Grachtengordel,27.0,450.0,3.0,...,10.0,10.0,10.0,10.0,10.0,97.0,9.0,0.28,4.0,6.109248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312648,4.0,0.0,20.0,1.0,"Washington, D.C",United States,Capitol Hill,12.0,95.0,1.0,...,10.0,10.0,10.0,10.0,10.0,98.0,10.0,6.00,1.0,4.553877
1312655,2.0,11.0,138.0,1.0,"Washington, D.C",United States,Mount Vernon Square,22.0,100.0,1.0,...,9.0,10.0,10.0,10.0,10.0,95.0,10.0,9.04,2.0,4.605170
1312656,2.0,14.0,160.0,1.0,"Washington, D.C",United States,Mount Vernon Square,23.0,100.0,2.0,...,10.0,10.0,10.0,10.0,9.0,98.0,9.0,9.86,1.0,4.605170
1312657,1.0,17.0,164.0,1.0,"Washington, D.C",United States,Shaw,22.0,100.0,1.0,...,10.0,10.0,10.0,10.0,9.0,96.0,9.0,9.30,1.0,4.605170
1312664,4.0,2.0,19.0,1.0,"Washington, D.C",United States,Fort Davis,10.0,71.0,1.0,...,10.0,10.0,10.0,10.0,9.0,100.0,10.0,4.69,3.0,4.262680
1312668,4.0,5.0,18.0,2.5,"Washington, D.C",United States,Kingman Park,11.0,200.0,2.0,...,10.0,10.0,10.0,10.0,10.0,100.0,10.0,5.00,4.0,5.298317
1312671,5.0,20.0,72.0,2.5,"Washington, D.C",United States,Shaw,11.0,225.0,2.0,...,8.0,8.0,8.0,8.0,9.0,78.0,8.0,4.58,4.0,5.416100
1312684,2.0,1.0,1.0,1.0,"Washington, D.C",United States,North Cleveland Park,17.0,50.0,1.0,...,9.0,10.0,9.0,9.0,10.0,92.0,10.0,8.64,1.0,3.912023
1312686,2.0,9.0,137.0,1.0,"Washington, D.C",United States,Marshall Heights,12.0,50.0,0.0,...,10.0,10.0,10.0,10.0,9.0,98.0,10.0,6.00,1.0,3.912023
1312688,4.0,8.0,317.0,1.0,"Washington, D.C",United States,Foggy Bottom,11.0,128.0,0.0,...,10.0,10.0,10.0,10.0,10.0,98.0,9.0,5.24,2.0,4.852030
1312695,2.0,3.0,3.0,1.0,"Washington, D.C",United States,Downtown/Penn Quarter,16.0,150.0,1.0,...,10.0,10.0,10.0,10.0,10.0,96.0,10.0,7.62,1.0,5.010635
1312699,8.0,1.0,278.0,2.0,"Washington, D.C",United States,Near Northeast/H Street Corridor,19.0,300.0,2.0,...,10.0,10.0,9.0,10.0,10.0,96.0,10.0,8.03,1.0,5.703782
1312701,4.0,7.0,323.0,1.0,"Washington, D.C",United States,Trinidad,14.0,90.0,0.0,...,10.0,10.0,10.0,10.0,10.0,99.0,10.0,7.37,1.0,4.499810
1312703,2.0,7.0,57.0,1.0,"Washington, D.C",United States,Manor Park,11.0,45.0,1.0,...,10.0,10.0,10.0,10.0,9.0,98.0,10.0,5.79,1.0,3.806662
1312710,4.0,12.0,345.0,1.0,"Washington, D.C",United States,Bloomingdale,14.0,152.0,2.0,...,10.0,10.0,10.0,10.0,10.0,97.0,10.0,6.56,1.0,5.023881
1312712,4.0,10.0,82.0,1.5,"Washington, D.C",United States,Dupont Circle,13.0,200.0,2.0,...,10.0,10.0,9.0,10.0,10.0,98.0,9.0,6.00,1.0,5.298317
1312716,10.0,23.0,173.0,2.0,"Washington, D.C",United States,Eckington,11.0,280.0,4.0,...,9.0,9.0,9.0,10.0,9.0,95.0,10.0,6.47,1.0,5.634790
1312720,4.0,13.0,166.0,1.0,"Washington, D.C",United States,Columbia Heights,10.0,149.0,1.0,...,10.0,10.0,10.0,10.0,10.0,100.0,10.0,4.55,1.0,5.003946
1312721,3.0,0.0,44.0,1.0,"Washington, D.C",United States,Petworth,13.0,90.0,0.0,...,10.0,10.0,10.0,10.0,10.0,97.0,10.0,6.50,1.0,4.499810
1312732,4.0,5.0,108.0,1.0,"Washington, D.C",United States,Logan Circle,11.0,150.0,2.0,...,9.0,10.0,10.0,10.0,10.0,96.0,9.0,5.16,1.0,5.010635
1312747,4.0,14.0,338.0,1.0,"Washington, D.C",United States,Logan Circle,22.0,139.0,0.0,...,10.0,10.0,10.0,10.0,10.0,100.0,10.0,11.19,1.0,4.934474
1312749,4.0,18.0,165.0,1.0,"Washington, D.C",United States,Adams Morgan,18.0,135.0,0.0,...,10.0,10.0,10.0,10.0,10.0,97.0,10.0,8.57,2.0,4.905275
1312754,6.0,0.0,94.0,1.0,"Washington, D.C",United States,Columbia Heights,18.0,100.0,2.0,...,10.0,10.0,9.0,10.0,10.0,94.0,10.0,9.00,1.0,4.605170
1312810,2.0,1.0,1.0,1.0,"Washington, D.C",United States,Cleveland Park,13.0,75.0,0.0,...,9.0,9.0,10.0,9.0,10.0,92.0,10.0,9.07,1.0,4.317488
1312833,2.0,12.0,68.0,1.0,"Washington, D.C",United States,Eckington,14.0,78.0,1.0,...,9.0,10.0,10.0,10.0,9.0,93.0,9.0,8.75,1.0,4.356709
1312834,3.0,16.0,72.0,1.0,"Washington, D.C",United States,Eckington,14.0,99.0,1.0,...,10.0,10.0,10.0,10.0,9.0,94.0,10.0,9.13,2.0,4.595120
1312835,2.0,13.0,59.0,1.0,"Washington, D.C",United States,Eckington,14.0,75.0,1.0,...,10.0,10.0,10.0,10.0,10.0,97.0,10.0,8.75,1.0,4.317488
1312836,1.0,20.0,76.0,1.0,"Washington, D.C",United States,Eckington,12.0,75.0,1.0,...,10.0,10.0,10.0,10.0,10.0,100.0,10.0,8.18,1.0,4.317488
1312842,2.0,0.0,226.0,1.0,"Washington, D.C",United States,Trinidad,18.0,60.0,0.0,...,9.0,10.0,9.0,10.0,8.0,91.0,10.0,11.25,1.0,4.094345
1312989,2.0,8.0,316.0,1.0,"Washington, D.C",United States,Marshall Heights,10.0,45.0,1.0,...,10.0,10.0,10.0,10.0,9.0,100.0,10.0,10.00,2.0,3.806662

In [24]:
model_df['price_bin'] = pd.cut(model_df['log_price'], bins = bins, labels = group_names)

C:\Users\lizma\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
model_df.loc[1312720]

accommodates                                  4
availability_30                              13
availability_365                            166
bathrooms                                     1
sc_city                         Washington, D.C
country                           United States
neighbourhood                  Columbia Heights
number_of_reviews                            10
price                                       149
bedrooms                                      1
beds                                          2
latitude                                38.9326
longitude                                   149
property_type                         Apartment
review_scores_accuracy                       10
review_scores_checkin                        10
review_scores_cleanliness                    10
review_scores_communication                  10
review_scores_location                       10
review_scores_rating                        100
review_scores_value                          10
reviews_per_month                          4.55
guests_included                               1
log_price                               5.00395
price_bin                                     5
Name: 1312720, dtype: object

In [26]:
# 1/model_df['log_price'] * (model_df['reviews_per_month']/(model_df['availability_30']+1)) *  model_df['review_scores_rating']
# model_df['score'] = 1/model_df['log_price'] * (model_df['reviews_per_month']/(model_df['availability_30']+1)) *  model_df['review_scores_rating']

In [27]:
len(model_df)

374375

In [28]:
len(model_df.dropna())

374375

In [29]:
model_df['score'] = (model_df['review_scores_rating'])/(model_df['availability_365']/12)

C:\Users\lizma\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
# log_prices_df['min']

In [31]:
# 1/log_prices_df['min']

In [32]:
citySc_gr = model_df.groupby(['sc_city'])

In [ ]:
scores_df = pd.DataFrame({'min': citySc_gr.min()['score'], 'max': citySc_gr.max()['score']})
# scores_df['span'] = scores_df['max']
scores_df['interval'] = scores_df['max']/10
scores_df

In [ ]:
scores_10 = {}
scores_df.index[0]
for n in range(0, len(scores_df.index)):
    intervals = []
    ints = {}
    for i in range(0, 10):
        ints[i] = round(scores_df['interval'][n] * (i+1), 5)
    intervals.append(ints)
    scores_10[scores_df.index[n]] = intervals
#     price_10[prices_df.index[0]] = prices_df['interval']
scores_10

In [33]:
ints = {}
interval = model_df['score'].max()/10
for i in range(0, 10):
    ints[i] = round(interval * (i+1), 5)
ints

{0: 6.1,
 1: 12.2,
 2: 18.3,
 3: 24.4,
 4: 30.5,
 5: 36.6,
 6: 42.7,
 7: 48.8,
 8: 54.9,
 9: 61.0}

In [34]:
model_df['score_bin'] = 0
model_df.head(10)

C:\Users\lizma\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,accommodates,availability_30,availability_365,bathrooms,sc_city,country,neighbourhood,number_of_reviews,price,bedrooms,...,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,reviews_per_month,guests_included,log_price,price_bin,score,score_bin
0,2.0,5.0,12.0,1.5,Amsterdam,Netherlands,Indische Buurt,255.0,59.0,1.0,...,10.0,9.0,97.0,10.0,2.07,1.0,4.077537,4,0.511667,0
1,2.0,0.0,166.0,1.0,Amsterdam,Netherlands,Grachtengordel,267.0,80.0,1.0,...,9.0,10.0,88.0,9.0,2.39,2.0,4.382027,5,3.390000,0
3,2.0,2.0,102.0,1.0,Amsterdam,Netherlands,Westelijke Eilanden,189.0,150.0,1.0,...,10.0,10.0,99.0,10.0,2.12,1.0,5.010635,5,1.040000,0
4,2.0,3.0,236.0,1.0,Amsterdam,Netherlands,Bos en Lommer,453.0,65.0,1.0,...,10.0,9.0,93.0,9.0,4.15,2.0,4.174387,4,1.287500,0
6,1.0,4.0,166.0,1.0,Amsterdam,Netherlands,Amsterdam Centrum,412.0,55.0,1.0,...,10.0,10.0,95.0,10.0,4.16,1.0,4.007333,4,1.032000,0
7,4.0,0.0,0.0,1.0,Amsterdam,Netherlands,Oud-Zuid,32.0,219.0,3.0,...,10.0,9.0,95.0,9.0,0.34,4.0,5.389072,6,1.340000,0
8,2.0,0.0,73.0,1.0,Amsterdam,Netherlands,Jordaan,198.0,145.0,1.0,...,10.0,10.0,99.0,10.0,1.85,2.0,4.976734,5,2.850000,0
9,2.0,0.0,0.0,0.0,Amsterdam,Netherlands,Jordaan,78.0,180.0,1.0,...,10.0,10.0,95.0,9.0,0.76,2.0,5.192957,5,1.760000,0
10,2.0,7.0,128.0,1.0,Amsterdam,Netherlands,Amsterdam Centrum,444.0,159.0,1.0,...,10.0,10.0,98.0,9.0,4.21,1.0,5.068904,5,0.651250,0
11,4.0,30.0,365.0,1.0,Amsterdam,Netherlands,Grachtengordel,683.0,210.0,2.0,...,10.0,10.0,97.0,10.0,6.49,2.0,5.347108,6,0.241613,0

In [35]:
# for city in model_df['sc_city'].unique():
#     temp_df = model_df[model_df['sc_city'] == city]
bins = ()
bins = bins + (0,)
#     print(scores_10[city][0][0])
for x in range(0, 10):
    bins = bins + (ints[x],)
#     bins = bins + (temp_df['score'].max()+1,)
group_names = [1,2,3,4,5,6,7,8,9,10]
print(bins)
#     temp_df['score'] = [round(v, 5) for v in temp_df['score']]
#     temp_df['score_bin'] = pd.cut(temp_df['score'], bins = bins, labels = group_names)
#     print(temp_df['weighted_score_bin'])
model_df['score_bin'] = pd.cut(model_df['score'], bins = bins, labels = group_names)

(0, 6.1, 12.2, 18.3, 24.4, 30.5, 36.6, 42.7, 48.8, 54.9, 61.0)

C:\Users\lizma\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [36]:
# model_df['weighted_score_bin'][model_df['sc_city'] == 'Amsterdam'] = 1

In [37]:
model_df.head(10)

,accommodates,availability_30,availability_365,bathrooms,sc_city,country,neighbourhood,number_of_reviews,price,bedrooms,...,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,reviews_per_month,guests_included,log_price,price_bin,score,score_bin
0,2.0,5.0,12.0,1.5,Amsterdam,Netherlands,Indische Buurt,255.0,59.0,1.0,...,10.0,9.0,97.0,10.0,2.07,1.0,4.077537,4,0.511667,1
1,2.0,0.0,166.0,1.0,Amsterdam,Netherlands,Grachtengordel,267.0,80.0,1.0,...,9.0,10.0,88.0,9.0,2.39,2.0,4.382027,5,3.390000,1
3,2.0,2.0,102.0,1.0,Amsterdam,Netherlands,Westelijke Eilanden,189.0,150.0,1.0,...,10.0,10.0,99.0,10.0,2.12,1.0,5.010635,5,1.040000,1
4,2.0,3.0,236.0,1.0,Amsterdam,Netherlands,Bos en Lommer,453.0,65.0,1.0,...,10.0,9.0,93.0,9.0,4.15,2.0,4.174387,4,1.287500,1
6,1.0,4.0,166.0,1.0,Amsterdam,Netherlands,Amsterdam Centrum,412.0,55.0,1.0,...,10.0,10.0,95.0,10.0,4.16,1.0,4.007333,4,1.032000,1
7,4.0,0.0,0.0,1.0,Amsterdam,Netherlands,Oud-Zuid,32.0,219.0,3.0,...,10.0,9.0,95.0,9.0,0.34,4.0,5.389072,6,1.340000,1
8,2.0,0.0,73.0,1.0,Amsterdam,Netherlands,Jordaan,198.0,145.0,1.0,...,10.0,10.0,99.0,10.0,1.85,2.0,4.976734,5,2.850000,1
9,2.0,0.0,0.0,0.0,Amsterdam,Netherlands,Jordaan,78.0,180.0,1.0,...,10.0,10.0,95.0,9.0,0.76,2.0,5.192957,5,1.760000,1
10,2.0,7.0,128.0,1.0,Amsterdam,Netherlands,Amsterdam Centrum,444.0,159.0,1.0,...,10.0,10.0,98.0,9.0,4.21,1.0,5.068904,5,0.651250,1
11,4.0,30.0,365.0,1.0,Amsterdam,Netherlands,Grachtengordel,683.0,210.0,2.0,...,10.0,10.0,97.0,10.0,6.49,2.0,5.347108,6,0.241613,1

In [38]:
# new_scores_df = pd.DataFrame({'min': scores_df['min'],'max': scores_df['max']})
# L_span = new_scores_df.max()['max'] - new_scores_df.min()['min']
# L_int = L_span/10
# bins = ()
# for i in range(0, 10):
#     bins = bins + (i*L_int,)

# bins = bins + (new_scores_df.max()['max'],)

In [39]:
# bins

In [40]:
# L_span = model_df.max()['review_scores_value'] - model_df.min()['review_scores_value']
# L_int =  model_df.max()['review_scores_value']/10
# bins = ()
# for i in range(0, 11):
#     bins = bins + (i*L_int,)

# # bins = bins + (model_df.max()['review_scores_value'],)
# bins

In [41]:
# model_df['review_value_bin'] = pd.cut(model_df['review_scores_value'], bins = bins, labels = group_names)

In [42]:
# model_df.head()

In [43]:
# model_df['number_of_reviews'].max()

In [44]:
# # L_span = model_df.max()['number_of_reviews'] - model_df.min()['review_scores_value']
# L_int =  model_df['number_of_reviews'].max()/3
# bins = (0, 1, L_int, L_int*2, L_int*3)
# labels = [1, 2, 3, 4]
# # bins = bins + (0,)
# # for i in range(0, 11):
# #     bins = bins + (i*L_int,)

# # bins = bins + (model_df.max()['review_scores_value'],)
# bins

In [45]:
# 1 - little reviews, 2 - somewhat reviewes, 3 - highly reviewed
# model_df['reviews_category'] = pd.cut(model_df['number_of_reviews'], bins = bins, labels = labels)

In [46]:
list(model_df)

['accommodates',
 'availability_30',
 'availability_365',
 'bathrooms',
 'sc_city',
 'country',
 'neighbourhood',
 'number_of_reviews',
 'price',
 'bedrooms',
 'beds',
 'latitude',
 'longitude',
 'property_type',
 'review_scores_accuracy',
 'review_scores_checkin',
 'review_scores_cleanliness',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_rating',
 'review_scores_value',
 'reviews_per_month',
 'guests_included',
 'log_price',
 'price_bin',
 'score',
 'score_bin']

In [47]:
X = model_df.drop(['review_scores_value', 'sc_city', 'neighbourhood', 'review_scores_accuracy', 'number_of_reviews', 'availability_30', 'availability_365', 
                 'review_scores_checkin', 'review_scores_cleanliness', 'review_scores_communication', 'review_scores_location', 'log_price', 
                 'review_scores_rating', 'review_scores_value', 'price', 'price_bin', 'score', 'reviews_per_month', 'latitude', 'longitude', 'score_bin'], axis=1)
y = model_df['score_bin']

In [48]:
list(X)

['accommodates',
 'bathrooms',
 'country',
 'bedrooms',
 'beds',
 'property_type',
 'guests_included']

In [49]:
# X = model_df.drop(['review_scores_value', 'country', 'neighbourhood', 'review_scores_accuracy',
#                  'review_scores_checkin', 'review_scores_cleanliness', 'review_scores_communication', 'review_scores_location',
#                  'review_scores_rating', 'review_scores_value', 'price', 'price_bin', 'score', 'review_value_bin', 'reviews_category'], axis=1)
# y = model_df['review_scores_value']

In [50]:
# model_df['review_scores_value']

In [51]:
country_code = {}
for c in range(0, len(model_df['country'].unique())):
    country_code[model_df['country'].unique()[c]] = c + 1
country_code

{'Netherlands': 1,
 'Greece': 2,
 'United States': 3,
 'Spain': 4,
 'China': 5,
 'Germany': 6,
 'France': 7,
 'Belgium': 8,
 'Argentina': 9,
 'Denmark': 10,
 'Ireland': 11,
 'United Kingdom': 12,
 'Italy': 13,
 'Hong Kong': 14,
 'Turkey': 15,
 'Portugal': 16,
 'Australia': 17,
 'Mexico': 18,
 'Canada': 19,
 'Norway': 20,
 'Czech Republic': 21,
 'Brazil': 22,
 'Vatican City': 23,
 'Singapore': 24,
 'Sweden': 25,
 'Taiwan': 26,
 'Congo': 27,
 'Austria': 28}

In [52]:
X['country'] = [country_code[x] for x in X['country']]

In [53]:
property_type_cats = {}
for x in range(0, len(X['property_type'].unique())):
    property_type_cats[X['property_type'].unique()[x]] = x+1
# property_type_cats

In [54]:
X['property_type_cat'] = [property_type_cats[x] for x in X['property_type']]

In [55]:
X = X.drop('property_type', axis=1)

In [56]:
X['property_type_cat'] = [float(x) for x in X['property_type_cat']]

In [57]:
y = to_categorical(y)

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [59]:
X.head()

,accommodates,bathrooms,country,bedrooms,beds,guests_included,property_type_cat
0,2.0,1.5,1,1.0,2.0,1.0,1.0
1,2.0,1.0,1,1.0,1.0,2.0,2.0
3,2.0,1.0,1,1.0,1.0,1.0,3.0
4,2.0,1.0,1,1.0,2.0,2.0,1.0
6,1.0,1.0,1,1.0,1.0,1.0,1.0

In [60]:
list(X)

['accommodates',
 'bathrooms',
 'country',
 'bedrooms',
 'beds',
 'guests_included',
 'property_type_cat']

In [61]:
# y.dtypes
y

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]], dtype=float32)

In [62]:
y_train[0]

array([0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)

In [63]:
X_train.shape

(280781, 7)

In [64]:
y_train.shape

(280781, 11)

In [65]:
model = Sequential()
model.add(Dense(units=12, activation='relu', input_dim=7))
model.add(Dense(units=9, activation='relu'))
model.add(Dense(units=6, activation='relu'))
model.add(Dense(units=4, activation='relu'))
model.add(Dense(units=11, activation='softmax'))

WARNING:tensorflow:From C:\Users\lizma\Anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [66]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                96
_________________________________________________________________
dense_1 (Dense)              (None, 9)                 117
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 60
_________________________________________________________________
dense_3 (Dense)              (None, 4)                 28
_________________________________________________________________
dense_4 (Dense)              (None, 11)                55
=================================================================
Total params: 356
Trainable params: 356
Non-trainable params: 0
_________________________________________________________________

In [67]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [68]:
model.fit(
    X_train,
    y_train,
    epochs=10,
    shuffle=True,
    verbose=2
)

WARNING:tensorflow:From C:\Users\lizma\Anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/10
 - 15s - loss: 0.1012 - acc: 0.9840
Epoch 2/10
 - 13s - loss: 0.0680 - acc: 0.9876
Epoch 3/10
 - 13s - loss: 0.0678 - acc: 0.9876
Epoch 4/10
 - 13s - loss: 0.0677 - acc: 0.9876
Epoch 5/10
 - 15s - loss: 0.0676 - acc: 0.9876
Epoch 6/10
 - 15s - loss: 0.0676 - acc: 0.9876
Epoch 7/10
 - 16s - loss: 0.0677 - acc: 0.9876
Epoch 8/10
 - 13s - loss: 0.0676 - acc: 0.9876
Epoch 9/10
 - 15s - loss: 0.0675 - acc: 0.9876
Epoch 10/10
 - 15s - loss: 0.0676 - acc: 0.9876

In [69]:
model_loss, model_accuracy = model.evaluate(
    X_test, y_test, verbose=2)
print(
    f"Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 2s - loss: 0.0670 - acc: 0.9877
Neural Network - Loss: 0.06698505094036739, Accuracy: 0.9877128601074219

In [70]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\Users\lizma\Anaconda3\envs\PythonData\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [71]:
modelB = Sequential()
modelB.add(Dense(units=12, activation='relu', input_dim=7))
modelB.add(Dense(units=9, activation='relu'))
modelB.add(Dense(units=6, activation='relu'))
# modelB.add(Dense(units=4, activation='relu'))
modelB.add(Dense(units=11, activation='softmax'))

modelB.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 12)                96
_________________________________________________________________
dense_6 (Dense)              (None, 9)                 117
_________________________________________________________________
dense_7 (Dense)              (None, 6)                 60
_________________________________________________________________
dense_8 (Dense)              (None, 11)                77
=================================================================
Total params: 350
Trainable params: 350
Non-trainable params: 0
_________________________________________________________________

In [72]:
modelB.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

modelB.fit(
    X_train_scaled,
    y_train,
    epochs=10,
    shuffle=True,
    verbose=2
)

Epoch 1/10
 - 13s - loss: 0.0941 - acc: 0.9865
Epoch 2/10
 - 12s - loss: 0.0678 - acc: 0.9876
Epoch 3/10
 - 12s - loss: 0.0677 - acc: 0.9876
Epoch 4/10
 - 13s - loss: 0.0677 - acc: 0.9876
Epoch 5/10
 - 12s - loss: 0.0676 - acc: 0.9876
Epoch 6/10
 - 12s - loss: 0.0676 - acc: 0.9876
Epoch 7/10
 - 12s - loss: 0.0676 - acc: 0.9876
Epoch 8/10
 - 12s - loss: 0.0676 - acc: 0.9876
Epoch 9/10
 - 12s - loss: 0.0675 - acc: 0.9876
Epoch 10/10
 - 12s - loss: 0.0676 - acc: 0.9876

In [73]:
model_loss, model_accuracy = modelB.evaluate(
    X_test_scaled, y_test, verbose=2)
print(
    f"Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 2s - loss: 0.0669 - acc: 0.9877
Neural Network - Loss: 0.06685084324376024, Accuracy: 0.9877235889434814

In [75]:
X_train = X_train.drop('country', axis=1)
X_test = X_test.drop('country', axis=1)

In [80]:
list(X_train)

['accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'guests_included',
 'property_type_cat']

In [78]:
modelB = Sequential()
modelB.add(Dense(units=12, activation='relu', input_dim=6))
modelB.add(Dense(units=9, activation='relu'))
modelB.add(Dense(units=6, activation='relu'))
modelB.add(Dense(units=4, activation='relu'))
modelB.add(Dense(units=11, activation='softmax'))

modelB.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_14 (Dense)             (None, 12)                84
_________________________________________________________________
dense_15 (Dense)             (None, 9)                 117
_________________________________________________________________
dense_16 (Dense)             (None, 6)                 60
_________________________________________________________________
dense_17 (Dense)             (None, 4)                 28
_________________________________________________________________
dense_18 (Dense)             (None, 11)                55
=================================================================
Total params: 344
Trainable params: 344
Non-trainable params: 0
_________________________________________________________________

In [79]:
modelB.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

modelB.fit(
    X_train,
    y_train,
    epochs=10,
    shuffle=True,
    verbose=2
)

Epoch 1/10
 - 15s - loss: 0.1142 - acc: 0.9775
Epoch 2/10
 - 13s - loss: 0.0680 - acc: 0.9876
Epoch 3/10
 - 13s - loss: 0.0678 - acc: 0.9876
Epoch 4/10
 - 13s - loss: 0.0677 - acc: 0.9876
Epoch 5/10
 - 13s - loss: 0.0677 - acc: 0.9876
Epoch 6/10
 - 14s - loss: 0.0677 - acc: 0.9876
Epoch 7/10
 - 13s - loss: 0.0676 - acc: 0.9876
Epoch 8/10
 - 14s - loss: 0.0675 - acc: 0.9876
Epoch 9/10
 - 13s - loss: 0.0676 - acc: 0.9876
Epoch 10/10
 - 13s - loss: 0.0675 - acc: 0.9876

In [221]:
# model_loss, model_accuracy = modelB.evaluate(
#     X_test_scaled, y_test, verbose=2)
# print(
#     f"Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

## Score without price

In [ ]:
# (model_df['reviews_per_month']/(model_df['availability_30']+1)) *  model_df['review_scores_rating']

In [190]:
model_df['score2'] = (model_df['review_scores_rating']/100) * model_df['reviews_per_month']

In [191]:
model_df = model_df.copy()
model_df.dropna()
len(model_df)

374375

In [192]:
# citySc_gr = model_df.groupby(['country'])

In [193]:
# scores_df = pd.DataFrame({'min': citySc_gr.min()['score2'], 'max': citySc_gr.max()['score2']})
# # scores_df['interval'] = scores_df['max']/10
# scores_df['interval'] = scores_df['max']/5
# scores_df

In [194]:
ints = {}
interval = model_df['score2'].max()/10

for i in range(0, 10):
    ints[i] = round(interval * (i+1), 2)

ints

{0: 5.94,
 1: 11.88,
 2: 17.82,
 3: 23.76,
 4: 29.7,
 5: 35.64,
 6: 41.58,
 7: 47.52,
 8: 53.46,
 9: 59.4}

In [195]:
model_df['country'].unique()

array(['Netherlands', 'Greece', 'United States', 'Spain', 'China',
       'Germany', 'France', 'Belgium', 'Argentina', 'Denmark', 'Ireland',
       'United Kingdom', 'Italy', 'Hong Kong', 'Turkey', 'Portugal',
       'Australia', 'Mexico', 'Canada', 'Norway', 'Czech Republic',
       'Brazil', 'Vatican City', 'Singapore', 'Sweden', 'Taiwan', 'Congo',
       'Austria'], dtype=object)

In [196]:
model_df['score_bin2'] = 0

bins = ()
bins = bins + (0,)

for x in range(0, 10):
    bins = bins + (ints[x],)

group_names = [1,2,3,4,5,6,7,8,9,10]
print(bins)

model_df['score_bin2'] = pd.cut(model_df['score2'], bins = bins, labels = group_names)

(0, 5.94, 11.88, 17.82, 23.76, 29.7, 35.64, 41.58, 47.52, 53.46, 59.4)

In [197]:
model_df.head()

,accommodates,availability_30,availability_365,bathrooms,sc_city,country,neighbourhood,number_of_reviews,price,bedrooms,...,review_scores_rating,review_scores_value,reviews_per_month,guests_included,log_price,price_bin,score,score_bin,score2,score_bin2
0,2.0,5.0,12.0,1.5,Amsterdam,Netherlands,Indische Buurt,255.0,59.0,1.0,...,97.0,10.0,2.07,1.0,4.077537,4,0.511667,1,2.0079,1
1,2.0,0.0,166.0,1.0,Amsterdam,Netherlands,Grachtengordel,267.0,80.0,1.0,...,88.0,9.0,2.39,2.0,4.382027,5,3.390000,1,2.1032,1
3,2.0,2.0,102.0,1.0,Amsterdam,Netherlands,Westelijke Eilanden,189.0,150.0,1.0,...,99.0,10.0,2.12,1.0,5.010635,5,1.040000,1,2.0988,1
4,2.0,3.0,236.0,1.0,Amsterdam,Netherlands,Bos en Lommer,453.0,65.0,1.0,...,93.0,9.0,4.15,2.0,4.174387,4,1.287500,1,3.8595,1
6,1.0,4.0,166.0,1.0,Amsterdam,Netherlands,Amsterdam Centrum,412.0,55.0,1.0,...,95.0,10.0,4.16,1.0,4.007333,4,1.032000,1,3.9520,1

In [198]:
model_df['score2'].unique()

array([ 2.0079,  2.1032,  2.0988, ...,  3.5724,  7.9488, 10.2375])

In [199]:
model_df['score2'].max()

59.4

In [200]:
model_df['score_bin2'].unique()

[1, 2, 3, 10, 5, 6, 8, 4]
Categories (8, int64): [1 < 2 < 3 < 4 < 5 < 6 < 8 < 10]

In [201]:
# model_df.dropna()
model_df['score_bin2'].unique()

[1, 2, 3, 10, 5, 6, 8, 4]
Categories (8, int64): [1 < 2 < 3 < 4 < 5 < 6 < 8 < 10]

In [202]:
# model_df[model_df['weighted_score_bin2'] == model_df['weighted_score_bin2'].unique()[10]]

In [203]:
list(model_df)

['accommodates',
 'availability_30',
 'availability_365',
 'bathrooms',
 'sc_city',
 'country',
 'neighbourhood',
 'number_of_reviews',
 'price',
 'bedrooms',
 'beds',
 'latitude',
 'longitude',
 'property_type',
 'review_scores_accuracy',
 'review_scores_checkin',
 'review_scores_cleanliness',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_rating',
 'review_scores_value',
 'reviews_per_month',
 'guests_included',
 'log_price',
 'price_bin',
 'score',
 'score_bin',
 'score2',
 'score_bin2']

In [204]:
# model_df[model_df['weighted_score_bin2'] != y2.unique()[10]]

In [205]:
# model2_df.dropna()

In [206]:
X2 = model_df.dropna().drop(['review_scores_value', 'sc_city', 'neighbourhood', 'review_scores_accuracy', 'number_of_reviews', 'availability_30', 'availability_365', 
                 'review_scores_checkin', 'review_scores_cleanliness', 'review_scores_communication', 'review_scores_location', 'score_bin2', 
                 'review_scores_rating', 'review_scores_value', 'log_price', 'price_bin', 'score', 'score2', 'reviews_per_month', 'latitude', 'longitude', 'score_bin'], axis=1)
y2 = model_df.dropna()['score_bin2']

In [207]:
# y2 = [int(z) for z in y2]

In [208]:
list(X2)

['accommodates',
 'bathrooms',
 'country',
 'price',
 'bedrooms',
 'beds',
 'property_type',
 'guests_included']

In [209]:
# y2

In [210]:
X2['country'] = [country_code[x] for x in X2['country']]
X2['property_type_cat'] = [property_type_cats[x] for x in X2['property_type']]
X2['property_type_cat'] = [float(x) for x in X2['property_type_cat']]

In [211]:
X2 = X2.drop('property_type', axis=1)

In [212]:
len(X_train2)

239556

In [213]:
y2 = to_categorical(y2)

In [214]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, random_state=42)

In [215]:
print(X_train2.shape, y_train2.shape)

(280781, 8) (280781, 11)

In [216]:
model2 = Sequential()
model2.add(Dense(units=12, activation='relu', input_dim=8))
model2.add(Dense(units=9, activation='relu'))
model2.add(Dense(units=6, activation='relu'))
model2.add(Dense(units=4, activation='relu'))
model2.add(Dense(units=11, activation='softmax'))

In [217]:
model2.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_34 (Dense)             (None, 12)                108
_________________________________________________________________
dense_35 (Dense)             (None, 9)                 117
_________________________________________________________________
dense_36 (Dense)             (None, 6)                 60
_________________________________________________________________
dense_37 (Dense)             (None, 4)                 28
_________________________________________________________________
dense_38 (Dense)             (None, 11)                55
=================================================================
Total params: 368
Trainable params: 368
Non-trainable params: 0
_________________________________________________________________

In [218]:
model2.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [219]:
model2.fit(
    X_train2,
    y_train2,
    epochs=10,
    shuffle=True,
    verbose=2
)

Epoch 1/10
 - 17s - loss: 0.2630 - acc: 0.9443
Epoch 2/10
 - 16s - loss: 0.1967 - acc: 0.9526
Epoch 3/10
 - 15s - loss: 0.1959 - acc: 0.9526
Epoch 4/10
 - 15s - loss: 0.1946 - acc: 0.9526
Epoch 5/10
 - 15s - loss: 0.1937 - acc: 0.9526
Epoch 6/10
 - 17s - loss: 0.1934 - acc: 0.9526
Epoch 7/10
 - 14s - loss: 0.1932 - acc: 0.9526
Epoch 8/10
 - 15s - loss: 0.1926 - acc: 0.9526
Epoch 9/10
 - 15s - loss: 0.1925 - acc: 0.9526
Epoch 10/10
 - 15s - loss: 0.1924 - acc: 0.9526

In [220]:
model_loss, model_accuracy = model2.evaluate(
    X_test2, y_test2, verbose=2)
print(
    f"Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 3s - loss: 0.1926 - acc: 0.9523
Neural Network - Loss: 0.19258845824492188, Accuracy: 0.9523153305053711

In [222]:
model3 = Sequential()
model3.add(Dense(units=16, activation='relu', input_dim=8))
model3.add(Dense(units=11, activation='relu'))
model3.add(Dense(units=6, activation='relu'))
model3.add(Dense(units=3, activation='relu'))
model3.add(Dense(units=11, activation='softmax'))

In [223]:
model3.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_39 (Dense)             (None, 16)                144
_________________________________________________________________
dense_40 (Dense)             (None, 11)                187
_________________________________________________________________
dense_41 (Dense)             (None, 6)                 72
_________________________________________________________________
dense_42 (Dense)             (None, 3)                 21
_________________________________________________________________
dense_43 (Dense)             (None, 11)                44
=================================================================
Total params: 468
Trainable params: 468
Non-trainable params: 0
_________________________________________________________________

In [224]:
model3.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [225]:
model3.fit(
    X_train2,
    y_train2,
    epochs=10,
    shuffle=True,
    verbose=2
)

Epoch 1/10
 - 16s - loss: 0.3695 - acc: 0.9511
Epoch 2/10
 - 15s - loss: 0.1965 - acc: 0.9526
Epoch 3/10
 - 15s - loss: 0.1952 - acc: 0.9526
Epoch 4/10
 - 16s - loss: 0.1939 - acc: 0.9526
Epoch 5/10
 - 16s - loss: 0.1929 - acc: 0.9526
Epoch 6/10
 - 16s - loss: 0.1926 - acc: 0.9526
Epoch 7/10
 - 16s - loss: 0.1922 - acc: 0.9526
Epoch 8/10
 - 16s - loss: 0.1922 - acc: 0.9526
Epoch 9/10
 - 16s - loss: 0.1917 - acc: 0.9526
Epoch 10/10
 - 15s - loss: 0.1915 - acc: 0.9526

In [226]:
model_loss, model_accuracy = model3.evaluate(
    X_test2, y_test2, verbose=2)
print(
    f"Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 3s - loss: 0.1935 - acc: 0.9523
Neural Network - Loss: 0.19348978726796917, Accuracy: 0.9523153305053711

In [ ]:
model4 = Sequential()
model4.add(Dense(units=18, activation='relu', input_dim=8))
model4.add(Dense(units=12, activation='relu'))
model4.add(Dense(units=9, activation='relu'))
model4.add(Dense(units=6, activation='relu'))
model4.add(Dense(units=11, activation='softmax'))

In [ ]:
model4.summary()

In [ ]:
model4.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
model4.fit(
    X_train2,
    y_train2,
    epochs=10,
    shuffle=True,
    verbose=2
)

In [ ]:
model_loss, model_accuracy = model4.evaluate(
    X_test2, y_test2, verbose=2)
print(
    f"Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
## With 5 bins - score2

In [309]:
model5 = Sequential()
model5.add(Dense(units=10, activation='relu', input_dim=8))
model5.add(Dense(units=7, activation='relu'))
model5.add(Dense(units=4, activation='relu'))
# model5.add(Dense(units=4, activation='relu'))
model5.add(Dense(units=11, activation='softmax'))

In [310]:
model5.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_60 (Dense)             (None, 10)                90
_________________________________________________________________
dense_61 (Dense)             (None, 7)                 77
_________________________________________________________________
dense_62 (Dense)             (None, 4)                 32
_________________________________________________________________
dense_63 (Dense)             (None, 11)                55
=================================================================
Total params: 254
Trainable params: 254
Non-trainable params: 0
_________________________________________________________________

In [311]:
model5.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

model5.fit(
    X_train2,
    y_train2,
    epochs=10,
    shuffle=True,
    verbose=2
)

Epoch 1/10
 - 17s - loss: 0.2360 - acc: 0.9519
Epoch 2/10
 - 18s - loss: 0.1952 - acc: 0.9526
Epoch 3/10
 - 18s - loss: 0.1940 - acc: 0.9526
Epoch 4/10
 - 16s - loss: 0.1935 - acc: 0.9526
Epoch 5/10
 - 16s - loss: 0.1930 - acc: 0.9526
Epoch 6/10
 - 18s - loss: 0.1929 - acc: 0.9526
Epoch 7/10
 - 15s - loss: 0.1926 - acc: 0.9526
Epoch 8/10
 - 15s - loss: 0.1928 - acc: 0.9526
Epoch 9/10
 - 15s - loss: 0.1924 - acc: 0.9526
Epoch 10/10
 - 16s - loss: 0.1921 - acc: 0.9526

In [312]:
model_loss, model_accuracy = model5.evaluate(
    X_test2, y_test2, verbose=2)
print(
    f"Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 4s - loss: 0.1934 - acc: 0.9523
Neural Network - Loss: 0.19340886516629838, Accuracy: 0.9523153305053711

In [313]:
X2_scaler = MinMaxScaler().fit(X_train2)
X_train2_scaled = X2_scaler.transform(X_train2)
X_test2_scaled = X2_scaler.transform(X_test2)

C:\Users\lizma\Anaconda3\envs\PythonData\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [317]:
model6 = Sequential()
model6.add(Dense(units=10, activation='relu', input_dim=8))
model6.add(Dense(units=7, activation='relu'))
# model6.add(Dense(units=4, activation='relu'))
# model5.add(Dense(units=4, activation='relu'))
model6.add(Dense(units=11, activation='softmax'))

model6.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_67 (Dense)             (None, 10)                90
_________________________________________________________________
dense_68 (Dense)             (None, 7)                 77
_________________________________________________________________
dense_69 (Dense)             (None, 11)                88
=================================================================
Total params: 255
Trainable params: 255
Non-trainable params: 0
_________________________________________________________________

In [318]:
model6.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

model6.fit(
    X_train2_scaled,
    y_train2,
    epochs=10,
    shuffle=True,
    verbose=2
)

Epoch 1/10
 - 16s - loss: 0.2265 - acc: 0.9485
Epoch 2/10
 - 15s - loss: 0.1936 - acc: 0.9526
Epoch 3/10
 - 16s - loss: 0.1925 - acc: 0.9526
Epoch 4/10
 - 17s - loss: 0.1919 - acc: 0.9526
Epoch 5/10
 - 15s - loss: 0.1917 - acc: 0.9526
Epoch 6/10
 - 14s - loss: 0.1915 - acc: 0.9526
Epoch 7/10
 - 15s - loss: 0.1914 - acc: 0.9526
Epoch 8/10
 - 15s - loss: 0.1913 - acc: 0.9526
Epoch 9/10
 - 14s - loss: 0.1913 - acc: 0.9526
Epoch 10/10
 - 15s - loss: 0.1912 - acc: 0.9526

In [ ]:
model_loss, model_accuracy = model5.evaluate(
    X_test2_scaled, y_test2, verbose=2)
print(
    f"Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
model7 = Sequential()
model7.add(Dense(units=12, activation='relu', input_dim=8))
model7.add(Dense(units=9, activation='relu'))
model7.add(Dense(units=5, activation='relu'))
model7.add(Dense(units=6, activation='softmax'))

model7.summary()

In [ ]:
model7.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

model7.fit(
    X_train2_scaled,
    y_train2,
    epochs=50,
    shuffle=True,
    verbose=2
)

## Score using only log_price

In [ ]:
# model_df['review_scores_rating'].head(51)

In [ ]:
# model_df['number_of_reviews'].head(51)

In [264]:
model_df['score3'] = model_df['log_price']
# model_df['review_scores_rating'] * (model_df['availability_365'] / model_df['number_of_reviews'])

In [ ]:
# model_df = model_df.copy()
# model_df.dropna()
# len(model_df)

In [ ]:
# citySc_gr = model_df.groupby(['sc_city'])

In [ ]:
# scores_df = pd.DataFrame({'min': citySc_gr.min()['score3'], 'max': citySc_gr.max()['score3']})
# # scores_df['interval'] = scores_df['max']/10
# scores_df['interval'] = scores_df['max']/5
# scores_df

In [265]:
# scores_10 = {}
# scores_df.index[0]
# for n in range(0, len(scores_df.index)):
#     intervals = []
ints = {}
interval = model_df['score3'].max()
#     for i in range(0, 10):
#         ints[i] = round(scores_df['interval'][n] * (i+1), 2)
for i in range(0, 10):
    ints[i] = round(interval * (i+1), 2)
#     intervals.append(ints)
#     scores_10[scores_df.index[n]] = intervals
# scores_10
ints

{0: 12.66,
 1: 25.32,
 2: 37.99,
 3: 50.65,
 4: 63.31,
 5: 75.97,
 6: 88.63,
 7: 101.29,
 8: 113.96,
 9: 126.62}

In [229]:
# model_df['sc_city'].unique()

In [266]:
model_df['score_bin3'] = 0
# for city in model_df['sc_city'].unique():
#     print(city)
#     temp_df = model_df[model_df['sc_city'] == city]
bins = ()
bins = bins + (0,)
#     print(scores_10[city][0][0])
for x in range(0, 10):
    bins = bins + (ints[x],)
#     bins = bins + (temp_df['score'].max()+1,)
group_names = [1,2,3,4,5, 6, 7, 8, 9, 10]
print(bins)
#     temp_df['score3'] = [round(v, 1) for v in temp_df['score3']]
#     temp_df['weighted_score_bin3'] = pd.cut(temp_df['score3'], bins = bins, labels = group_names)
# #     print(temp_df['weighted_score_bin'])
model_df['score_bin3'] = pd.cut(model_df['score3'], bins = bins, labels = group_names)

(0, 12.66, 25.32, 37.99, 50.65, 63.31, 75.97, 88.63, 101.29, 113.96, 126.62)

In [267]:
model_df.head()

,accommodates,availability_30,availability_365,bathrooms,sc_city,country,neighbourhood,number_of_reviews,price,bedrooms,...,reviews_per_month,guests_included,log_price,price_bin,score,score_bin,score2,score_bin2,score3,score_bin3
0,2.0,5.0,12.0,1.5,Amsterdam,Netherlands,Indische Buurt,255.0,59.0,1.0,...,2.07,1.0,4.077537,4,0.511667,1,2.0079,1,4.077537,1
1,2.0,0.0,166.0,1.0,Amsterdam,Netherlands,Grachtengordel,267.0,80.0,1.0,...,2.39,2.0,4.382027,5,3.390000,1,2.1032,1,4.382027,1
3,2.0,2.0,102.0,1.0,Amsterdam,Netherlands,Westelijke Eilanden,189.0,150.0,1.0,...,2.12,1.0,5.010635,5,1.040000,1,2.0988,1,5.010635,1
4,2.0,3.0,236.0,1.0,Amsterdam,Netherlands,Bos en Lommer,453.0,65.0,1.0,...,4.15,2.0,4.174387,4,1.287500,1,3.8595,1,4.174387,1
6,1.0,4.0,166.0,1.0,Amsterdam,Netherlands,Amsterdam Centrum,412.0,55.0,1.0,...,4.16,1.0,4.007333,4,1.032000,1,3.9520,1,4.007333,1

In [254]:
len(model_df)

374375

In [268]:
model_df['score_bin3'].unique()

[1, 2]
Categories (2, int64): [1 < 2]

In [255]:
len(model_df.dropna())

374375

In [296]:
X3 = model_df.dropna().drop(['review_scores_value', 'country', 'neighbourhood', 'review_scores_accuracy', 'number_of_reviews', 'availability_30', 'availability_365', 
                 'review_scores_checkin', 'review_scores_cleanliness', 'review_scores_communication', 'review_scores_location', 'score_bin2', 
                 'review_scores_rating', 'review_scores_value', 'price', 'score_bin3', 'score', 'score2', 'reviews_per_month', 'latitude', 'longitude', 'score_bin',
                   'score3', 'price_bin', 'sc_city', 'log_price'], axis=1)
y3 = model_df.dropna()['price_bin']

In [297]:
list(X3)

['accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'property_type',
 'guests_included']

In [298]:
y3 = [int(w) for w in y3]

In [299]:
# X3['sc_city'] = [city_code[x] for x in X3['sc_city']]
X3['property_type_cat'] = [property_type_cats[x] for x in X3['property_type']]
X3['property_type_cat'] = [float(x) for x in X3['property_type_cat']]

In [300]:
X3 = X3.drop('property_type', axis=1)

In [301]:
# len(X_train2)

In [302]:
y3 = to_categorical(y3)
y3

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [303]:
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, random_state=42)

In [304]:
X_train3

,accommodates,bathrooms,bedrooms,beds,guests_included,property_type_cat
640924,4.0,1.0,2.0,2.0,1.0,8.0
439513,1.0,1.0,1.0,1.0,1.0,8.0
578728,6.0,1.0,2.0,3.0,2.0,8.0
1037600,8.0,2.0,4.0,5.0,7.0,8.0
135042,2.0,1.0,1.0,1.0,1.0,1.0
59190,2.0,1.0,1.0,1.0,1.0,1.0
162081,2.0,1.0,1.0,2.0,1.0,1.0
115850,4.0,1.0,1.0,2.0,2.0,1.0
693049,2.0,1.0,1.0,1.0,1.0,1.0
80190,4.0,1.0,2.0,2.0,1.0,12.0
1218199,3.0,1.0,2.0,2.0,1.0,1.0
859620,4.0,1.0,1.0,2.0,1.0,1.0
600219,5.0,2.0,3.0,3.0,1.0,7.0
860536,2.0,1.0,0.0,1.0,1.0,1.0
444186,2.0,2.0,1.0,1.0,1.0,1.0
571079,2.0,1.0,0.0,1.0,2.0,20.0
317539,4.0,1.0,1.0,2.0,2.0,1.0
234468,4.0,2.0,2.0,2.0,4.0,2.0
74934,3.0,1.0,2.0,2.0,1.0,1.0
989774,4.0,1.0,1.0,2.0,4.0,1.0
241287,2.0,1.0,1.0,1.0,1.0,1.0
246585,2.0,1.0,1.0,2.0,1.0,12.0
490198,2.0,3.0,1.0,1.0,1.0,1.0
1011739,4.0,1.0,2.0,4.0,1.0,1.0
793786,2.0,1.0,1.0,2.0,1.0,1.0
696665,6.0,2.0,2.0,3.0,1.0,1.0
86894,6.0,1.0,2.0,2.0,4.0,1.0
645708,6.0,1.0,2.0,4.0,3.0,1.0
858120,5.0,1.0,1.0,1.0,4.0,1.0
778007,3.0,1.0,1.0,2.0,2.0,8.0
...,...,...,...,...,...,...
853611,2.0,1.5,1.0,1.0,1.0,1.0
1243130,1.0,1.0,1.0,1.0,1.0,1.0
611873,4.0,1.0,1.0,2.0,4.0,1.0
720089,10.0,2.0,3.0,5.0,6.0,1.0
785132,1.0,1.0,1.0,1.0,1.0,6.0
373578,3.0,1.0,1.0,1.0,1.0,1.0
873418,4.0,1.0,1.0,2.0,1.0,1.0
678508,2.0,2.0,1.0,1.0,1.0,8.0
838036,9.0,3.0,5.0,25.0,1.0,1.0
1172194,6.0,2.0,4.0,6.0,1.0,8.0
667623,2.0,1.0,1.0,1.0,1.0,8.0
1084213,6.0,2.0,3.0,5.0,1.0,6.0
862383,2.0,1.0,0.0,1.0,2.0,1.0
236194,3.0,1.0,1.0,2.0,1.0,1.0
1179727,5.0,1.0,1.0,3.0,2.0,1.0
134852,3.0,1.0,1.0,2.0,1.0,2.0
911232,2.0,1.0,1.0,3.0,1.0,1.0
653545,7.0,2.0,3.0,7.0,1.0,1.0
593194,2.0,1.0,1.0,1.0,1.0,1.0
312193,2.0,1.0,1.0,1.0,1.0,1.0
488664,2.0,1.0,1.0,1.0,1.0,1.0
179876,3.0,1.0,2.0,2.0,3.0,1.0
706199,4.0,1.0,1.0,2.0,1.0,1.0
410754,6.0,1.0,2.0,3.0,1.0,1.0
447920,3.0,1.0,0.0,2.0,2.0,1.0
854340,4.0,1.0,1.0,2.0,1.0,1.0
1295742,2.0,1.0,1.0,1.0,1.0,1.0
476107,2.0,1.5,1.0,1.0,1.0,2.0
511437,2.0,1.0,1.0,1.0,2.0,1.0
452342,6.0,2.0,3.0,3.0,6.0,7.0

In [305]:
print(X_train3.shape, y_train3.shape)

(280781, 6) (280781, 11)

In [306]:
# X3_scaler = MinMaxScaler().fit(X_train3)
# X_train3_scaled = X3_scaler.transform(X_train3)
# X_test3_scaled = X3_scaler.transform(X_test3)

In [307]:
model8 = Sequential()
model8.add(Dense(units=12, activation='relu', input_dim=6))
model8.add(Dense(units=9, activation='relu'))
model8.add(Dense(units=5, activation='relu'))
model8.add(Dense(units=11, activation='softmax'))

model8.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_56 (Dense)             (None, 12)                84
_________________________________________________________________
dense_57 (Dense)             (None, 9)                 117
_________________________________________________________________
dense_58 (Dense)             (None, 5)                 50
_________________________________________________________________
dense_59 (Dense)             (None, 11)                66
=================================================================
Total params: 317
Trainable params: 317
Non-trainable params: 0
_________________________________________________________________

In [308]:
model8.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

model8.fit(
    X_train3,
    y_train3,
    epochs=10,
    shuffle=True,
    verbose=2
)

Epoch 1/10
 - 17s - loss: 1.3131 - acc: 0.4973
Epoch 2/10
 - 16s - loss: 1.2398 - acc: 0.5158
Epoch 3/10
 - 16s - loss: 1.2313 - acc: 0.5194
Epoch 4/10
 - 16s - loss: 1.2249 - acc: 0.5222
Epoch 5/10
 - 16s - loss: 1.2200 - acc: 0.5245
Epoch 6/10
 - 16s - loss: 1.2166 - acc: 0.5246
Epoch 7/10
 - 16s - loss: 1.2143 - acc: 0.5256
Epoch 8/10
 - 16s - loss: 1.2127 - acc: 0.5255
Epoch 9/10
 - 15s - loss: 1.2111 - acc: 0.5249
Epoch 10/10
 - 15s - loss: 1.2103 - acc: 0.5257

In [ ]:
tdt['score4']

In [ ]:
# model_df['score4'] = model_df['review_scores_rating'] * (model_df['availability_365'] / model_df['number_of_reviews'])
tdt = model_df.copy()
tdt['score4'] = tdt['review_scores_rating']

In [ ]:
tdt['score4'].unique()

In [ ]:
# tdt['score4'][tdt['score4'] > 10] = 100

In [ ]:
# model_df = model_df.copy()
# model_df.dropna()
# len(model_df)
# tdt[tdt['score4'] != 'inf']

In [ ]:
# city2Sc_gr = tdt.groupby(['sc_city'])

In [ ]:
# scores_df = pd.DataFrame({'min': city2Sc_gr.min()['score4'], 'max': city2Sc_gr.max()['score4']})
# # scores_df['interval'] = scores_df['max']/10
# scores_df['interval'] = scores_df['max']/5
# scores_df

In [ ]:
# scores_10 = {}
# scores_df.index[0]
# for n in range(0, len(scores_df.index)):
#     intervals = []
ints = {}
interval = tdt['score4'].max()
#     for i in range(0, 10):
#         ints[i] = round(scores_df['interval'][n] * (i+1), 2)
for i in range(0, 10):
    ints[i] = round(interval * (i+1), 2)
#     intervals.append(ints)
#     scores_10[scores_df.index[n]] = intervals
# scores_10

In [ ]:
# tdt['sc_city'].unique()

In [ ]:
tdt['score_bin4'] = 0
for city in tdt['sc_city'].unique():
    print(city)
    temp_df = tdt[tdt['sc_city'] == city]
bins = ()
bins = bins + (0,)
#     print(scores_10[city][0][0])
for x in range(0, 5):
    bins = bins + (ints[x],)
#     bins = bins + (temp_df['score'].max()+1,)
    group_names = [1,2,3,4,5,6,7,8,9,10]
print(bins)
#     temp_df['score4'] = [round(v, 1) for v in temp_df['score4']]
#     temp_df['weighted_score_bin4'] = pd.cut(temp_df['score4'], bins = bins, labels = group_names)
# #     print(temp_df['weighted_score_bin'])
# tdt['score_bin4']= pd.cut(tdt['score4'], bins = bins, labels = group_namestdt

In [ ]:
tdt.head()

In [ ]:
len(tdt)

In [ ]:
len(tdt.dropna())

In [ ]:
X4 = tdt.dropna().drop(['review_scores_value', 'country', 'neighbourhood', 'review_scores_accuracy', 'number_of_reviews', 'availability_30', 'availability_365', 
                 'review_scores_checkin', 'review_scores_cleanliness', 'review_scores_communication', 'review_scores_location', 'weighted_score_bin2', 
                 'review_scores_rating', 'review_scores_value', 'price', 'price_bin', 'score', 'score2', 'reviews_per_month', 'latitude', 'longitude', 'weighted_score_bin',
                   'score3', 'weighted_score_bin3', 'weighted_score_bin4', 'score4'], axis=1)
y4 = tdt.dropna()['weighted_score_bin4']

In [ ]:
list(X4)

In [ ]:
y4 = [int(w) for w in y4]

In [ ]:
X4['sc_city'] = [city_code[x] for x in X4['sc_city']]
X4['property_type_cat'] = [property_type_cats[x] for x in X4['property_type']]
X4['property_type_cat'] = [float(x) for x in X4['property_type_cat']]

In [ ]:
X4 = X4.drop('property_type', axis=1)

In [ ]:
# len(X_train2)

In [ ]:
y4 = to_categorical(y4)

In [ ]:
X_train4, X_test4, y_train4, y_test4 = train_test_split(X4, y4, random_state=42)

In [ ]:
print(X_train4.shape, y_train4.shape)

In [ ]:
X4_scaler = MinMaxScaler().fit(X_train4)
X_train4_scaled = X4_scaler.transform(X_train4)
X_test4_scaled = X4_scaler.transform(X_test4)

In [ ]:
model9 = Sequential()
model9.add(Dense(units=12, activation='relu', input_dim=8))
model9.add(Dense(units=9, activation='relu'))
model9.add(Dense(units=5, activation='relu'))
model9.add(Dense(units=6, activation='softmax'))

model9.summary()

In [ ]:
model9.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

model9.fit(
    X_train4_scaled,
    y_train4,
    epochs=10,
    shuffle=True,
    verbose=2
)